infrastructure-cloud-infomaniak
**/*.conf
**/.DS_Store
.venv
data
**/openrc.sh
**/.env
**/.venv
**/venv
**/.envrc
**/.terraform/*
**/*.tfstate
**/*.tfstate.*
**/*.tfvars
**/*.tfvars.json
**/.terraformrc
**/terraform.rc
**/*.swp
**/*.log
**/.vagrant
**/*.ansible
ansible/envs
__pycache__/
