quarkus.log.file.enable=true
quarkus.log.file.path=/var/log/keycloak/keycloak.log
quarkus.log.file.rotation.max-backup-index=10
quarkus.log.file.rotation.rotate-on-boot=true
quarkus.http.access-log.enabled=true
quarkus.http.access-log.log-to-file=true
quarkus.http.access-log.base-file-name=access
quarkus.http.access-log.log-directory=/var/log/keycloak/
quarkus.transaction-manager.enable-recovery=true