{
"WALG_S3_PREFIX": "{{ postgresql_pitr_wallg_s3_prefix }}",
"AWS_ACCESS_KEY_ID": "{{ postgresql_pitr_wallg_s3_key }}",
"AWS_REGION": "{{ postgresql_pitr_wallg_s3_region }}",
"AWS_SECRET_ACCESS_KEY": "{{ postgresql_pitr_wallg_s3_secret_key }}"
}