#!/bin/bash
## Backup for {{ backup_app }} using restic

# write start time metric
touch {{ backup_metrics_dir }}/backup_{{ backup_app }}_start.txt

# source credentials
source /root/.config/restic/restic_{{ backup_app }}.creds

# backup {{ backup_app }}
/usr/local/bin/{{ backup_app }} snapshot save /tmp/{{ backup_app }}-backup.bck

# push backup
restic backup /tmp/{{ backup_app }}-backup.bck

# purge backup
restic forget --keep-last=14 \
    --keep-within-daily=30d \
    --keep-within-weekly=90d \
    --keep-within-monthly=365d \
    --group-by '' \
    --prune \
    --host {{ ansible_hostname }}

# write end time metric
touch {{ backup_metrics_dir }}/backup_{{ backup_app }}_end.txt

