#cloud-config
users:
  - default
  - name: clouduser
    primary_group: clouduser
    groups: [sudo,adm]
    sudo: ALL=(ALL) NOPASSWD:ALL
    groups: sudo
    shell: /bin/bash
    lock_passwd: true
    ssh-authorized-keys: 
    - ${instance_ssh_key}