#cloud-config
users:
  - default
  - name: clouduser
    primary_group: clouduser
    groups: [sudo, adm]
    shell: /bin/bash
    ssh-authorized-keys:
      - ${instance_ssh_key}
%{ if instance_user_password_hash == null }
    sudo: ALL=(ALL) NOPASSWD:ALL
    lock_passwd: true
%{ else }
    sudo: ALL=(ALL) ALL
    lock_passwd: false
    passwd: ${instance_user_password_hash}
%{ endif }
